<!DOCTYPE html>
 
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DSuite</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
 

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        dropdownmenu ul, .dropdownmenu li {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .dropdownmenu ul {
            background: gray;
            list-style: none;
            width: 100%;
        }

        .dropdownmenu li {
            border-right: 1px solid #a8a19c;
            float: left;
            position: relative;
            width: auto;
            display: inline;
            text-decoration: none;
        }

        .dropdownmenu a {
            background: #969593;
            color: #FFFFFF;
            display: block;
            font: bold 12px/20px sans-serif;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

        .dropdownmenu li:hover a {
            background: #0A0909;
        }

        .selected {
            background-color: red;
        }

        .dropdownmenu li.selected {
            background-color: red;
        }
    </style>
    <style type="text/css">
        .active {
            background-color: #6A17F3;
            color: red;
        }
    </style>

</head>

<body style="background-color:whitesmoke">
    <header>
        <div class="imagepos" style="height:5%; width:100%;background-color:black">
            <img src="/Images/Logo.png" style=" height:5%; width:6%; margin-left:100px; ">
        </div>
        <div class="content-wrapper">
            @{

                //Anonymous
                string user = "", username = "";
                try
                {
                    user =   Session["user"].ToString();
                    username = Session["username"].ToString();
                }
                catch (Exception ex) { }
               
            }
          
            <div class="float-left"  >

                @if (Request.IsAuthenticated)
                {
                    <section class="imagepos">
                        <span style="background-color: transparent;font-family:Museo Sans 300; font-weight:bold ;font-size:10pt;margin-left:800px;margin-top:-100px; ">@username</span>
                        @Html.ActionLink("Sign Out", "LogOut", "Login", new { style = "background-color: transparent; font-family:Museo Sans 300; font-weight:bold; font-size:10pt; margin-left:50px; margin-top:-100px; " })
                    </section>
                    <br />
                    <nav >
                        <ul id="mymenu" class="dropdownmenu">

                            @if (user == "Admin")
                            {
                                <li><a href="@Url.Action("PromoMail", "Admin")"><i class='fa fa-envelope'>&nbsp;&nbsp;</i><span>Promo Mail</span></a>  </li>
                                <li><a href="@Url.Action("Index", "Client")"><i class='fa fa-address-book-o'>&nbsp;&nbsp;</i><span>Client</span></a>  </li>
                                <li><a href="@Url.Action("Quotation", "Client")"><i class='fa fa-list'>&nbsp;&nbsp</i><span>Quotation</span></a></li>
                                <li><a href="@Url.Action("ProjectManagement", "Admin")"><i class='fa fa-list-alt'>&nbsp;&nbsp;</i><span>Prj Management</span></a></li>
                                <li><a href="@Url.Action("Operation", "Admin")"><i class='fa fa-hourglass-end'>&nbsp;&nbsp;</i><span>Operation</span></a></li>
                                <li><a href="@Url.Action("CurrentWorking", "Admin")"><i class='fa fa-file-word-o'>&nbsp;&nbsp;</i><span>Cur Working</span></a></li>
                                <li><a href="@Url.Action("Registration", "Admin")"><i class='fa fa-address-book-o'>&nbsp;&nbsp;</i><span>Designer</span></a></li>
                                <li><a href="@Url.Action("GMailSetting", "Admin")"><i class='fa fa-address-book-o'>&nbsp;&nbsp;</i><span>GMail</span></a></li>
                                <li><a href="@Url.Action("Report", "Admin")"><i class='fa fa-file-text-o'>&nbsp;&nbsp</i><span>Report</span></a></li>

                            }
                            else if (user == "User")
                            {
                                <li><a href="@Url.Action("Index", "Designer")"><i class='fa fa-file-word-o'>&nbsp;&nbsp;</i><span>Cur Working</span></a></li>
                                <li><a href="@Url.Action("DesignerReport", "Designer")"><i class='fa fa-file-text-o'>&nbsp;&nbsp</i><span>Report</span></a></li>
                            }


                        </ul>
                    </nav>
                }
               

            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

   

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>