 

@{
    ViewBag.Title = "Porject History";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!doctype html>
<html lang="en">

<head>

    <script src="~/angularjs/ReportProjectHistory1.js"></script>
    <script type="text/javascript">

        function IsNumber(e) {

            var theEvent = event || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;

            if (!regex.test(key)) {
                theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
            }
        }

    </script>
</head>


@using (Html.BeginForm())

{
    <body>

        <div ng-app="myApp">
            <div ng-controller="myController">
                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <a href="@Url.Action("ReportClientLedger", "Admin")" class="btn btn-primary"><span>Client Ledger</span></a>
                                    <a href="@Url.Action("ReportClientReceive", "Admin")" class="btn btn-primary"><span>Client Receive </span></a>
                                    <a href="@Url.Action("ReportTechnical", "Admin")" class="btn btn-primary"><span>Technical</span></a>
                                    <a href="@Url.Action("ReportQuotation", "Admin")" class="btn btn-primary"><span> Quotation  </span></a>
                                    @*<a href="@Url.Action("ReportMonthQuotation", "Admin")" class="btn btn-primary"><span> Month Quotation </span></a>*@
                                    @*<a href="@Url.Action("ReportBalanceAdjust", "Admin")" class="btn btn-primary"><span> Balance Adjust  </span></a>*@
                                    <a href="@Url.Action("ReportSiteVisit", "Admin")" class="btn btn-primary"><span> Site Visit   </span></a>
                                    <a href="@Url.Action("ReportProjectHistory", "Admin")" class="btn btn-primary"><span> Project History  </span></a>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Project History Report </h4>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-xl-2 col-md-2">
                                <div class="form-group mb-2">
                                 
                                    <label> Project ID</label>
                                    <input class="form-control" ng-model="pid" onkeypress="return IsNumber();">

                                </div>
                            </div>
                             
                            <div class="col-xl-2 col-md-2">
                                <div class="form-group mb-3">
                                    <label> . </label>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" ng-click="SearchQuotation()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center" ng-hide="loading">
                            <button type="button" class="btn btn-dark waves-effect waves-light">
                                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                            </button>
                        </div>
                        <div class="text-left ">
                            <span class="text-danger text-left  " style="font-size:14pt">{{searchdmsg}}</span>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle datatable dt-responsive table-bordered  nowrap" style=" border: 1px solid black; border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                                <thead>
                                                    <tr class="bg-transparent">
                                                        <th>#</th>
                                                        <th>Date</th>
                                                        <th>Project ID</th>
                                                        <th>Client name</th>
                                                        <th>Project Name</th>
                                                        <th>Category</th>
                                                        <th>Subcategory</th>
                                                        <th>Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in uploadlist">
                                                        <td>
                                                            <span> {{item.sno}}  </span>
                                                        </td>
                                                        <td>
                                                            <span>{{item.dtstr}} </span>
                                                        </td>
                                                        <td>
                                                            <span> {{item.projectID}}  </span>
                                                        </td>

                                                        <td>
                                                            <span>  {{item.clientName}}  </span>
                                                        </td>
                                                        <td>
                                                            <span>  {{item.projectName }}  </span>
                                                        </td>
                                                        <td>
                                                            <span> {{item.category}} </span>
                                                        </td>
                                                        <td>
                                                            <span> {{item.subcategory}} </span>
                                                        </td>
                                                        <td>
                                                            <div ng-if="item.filename.length !=0">
                                                                <a href="@Url.Action("DownloadUploadFile","Admin")?projectID={{item.projectID}}&uploafFileID={{item.pmID}}&filename={{item.filename}}" class="btn btn-sm btn-primary" style="width:30px; height:30px;">
                                                                    <i class="fa fa-download"></i>
                                                                </a>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="text-center ">
                                        <span class="text-danger text-center font-size:16  " style="">{{recordmsg}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

}
</html>


