 
@model MvcSDesign.Models.CompanyModel
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_NewAdmin.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>


    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   

  
    <script type="text/javascript">



        function SaveValidation() {

            var name = document.getElementById("name").value;
            var orgName = document.getElementById("orgName").value;
            var gstno = document.getElementById("gstNo").value;
            var address = document.getElementById("address").value;
            var city = document.getElementById("city").value;
            var state = document.getElementById("state").value;
            var pincode = document.getElementById("pincode").value;
            var mobile = document.getElementById("mobile").value;
            var emailID = document.getElementById("emailID").value;
            var pwd = document.getElementById("password").value;

            document.getElementById("lblErr").innerHTML = "";


            if (name.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter name";
                document.getElementById("name").focus();
                return false;
            }
            else if (orgName.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter organization name";
                document.getElementById("orgName").focus();
                return false;
            }
            else if (gstno.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter GST No";
                document.getElementById("gstNo").focus();
                return false;
            }
            else if (address.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter address";
                document.getElementById("address").focus();
                return false;
            }
            else if (city.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter city";
                document.getElementById("city").focus();
                return false;
            }
            else if (state.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter state";
                document.getElementById("state").focus();
                return false;
            }
            else if (pincode.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter pincode";
                document.getElementById("pincode").focus();
                return false;
            }
            else if (mobile.trim().length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter mobile no";
                document.getElementById("mobile").focus();
                return false;
            }
            else if  (pwd.length == 0) {
                document.getElementById("lblErr").innerHTML = "Enter password";
                document.getElementById("password").focus();
                return false;
            }

            else if (emailID == null) {
                document.getElementById("lblErr").innerHTML = "Enter mobile no";
                document.getElementById("emailID").focus();
                return false;
            }

            if (validateEmail(emailID) == false) {

                document.getElementById("lblErr").innerHTML = "Invalid email ID";
                document.getElementById("emailID").focus();
                return false;
            }


            return true;
        }
        function validateEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function IsNumber(e) {

            var theEvent = event || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;

            if (!regex.test(key)) {
                theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
            }
        }

    </script>

</head>

@using (Html.BeginForm("CompanyProfile","Admin",FormMethod.Post, new { enctype = "multipart/form-data", name = "frmCompanyProfile" }))
{
    <body>

        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between mt-4">
                            <h1 class="h3 my-4 text-gray-800">Company Profile</h1>
                        </div>  
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="pristine-valid-example" novalidate method="post">
                                    <div>

                                        <div class="row">

                                            <div class="col-xl-4 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>Name </label>

                                                    @Html.TextBoxFor(x => x.name, new { @class = "form-control", placeholder = "Client Name " })
                                                    @Html.ValidationMessageFor(x => x.name, "", new { @class = "text-danger" })



                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>Organization Name</label>

                                                    @Html.TextBoxFor(model => model.orgName, new { @class = "form-control", @onkeypress = "OnlyNumeric(this)", placeholder = "Organization" })

                                                    @Html.ValidationMessageFor(x => x.orgName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>GST No</label>

                                                    @Html.TextBoxFor(model => model.gstNo, new { @class = "form-control", placeholder = "GST No" })

                                                    @Html.ValidationMessageFor(x => x.gstNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>Address  </label>

                                                    @*@Html.TextAreaFor(model => model.address, 3, 80, new { @class = "form-control", placeholder = "Address" })*@

                                                    @Html.TextBoxFor(model => model.address, new { @class = "form-control", placeholder = "Address" })
                                                    @Html.ValidationMessageFor(model => model.address, "", new { style = "color:red;" })

                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label> City *  </label>

                                                    @Html.TextBoxFor(model => model.city, new { @class = "form-control", placeholder = "City" })
                                                    @Html.ValidationMessageFor(model => model.city, "", new { style = "color:red;" })
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>State *   </label>
                                                    @Html.TextBoxFor(model => model.state, new { @class = "form-control", placeholder = "State" })
                                                    @Html.ValidationMessageFor(model => model.state, "", new { style = "color:red;" })
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-2">
                                                <div class="form-group mb-2">
                                                    <label>Pincode *   </label>
                                                    @Html.TextBoxFor(model => model.pincode, new { @class = "form-control", @minlength = "6", @maxlength = "6", @onkeypress = "IsNumber()", placeholder = "Pincode" })
                                                    @Html.ValidationMessageFor(model => model.pincode, "", new { style = "color:red;" })
                                                </div>
                                            </div>

                                            <!-- end row -->
                                            <div class="col-xl-3 col-md-2">
                                                <div class="form-group mb-2">
                                                    <label>Mobile Number </label>
                                                    @Html.TextBoxFor(model => model.mobile, new { @class = "form-control", @maxlength = "10", @onkeypress = "IsNumber()", placeholder = "Mobile no" })
                                                    @Html.ValidationMessageFor(model => model.mobile, "", new { style = "color:red;" })
                                                </div>
                                            </div>

                                            <div class="col-xl-3 col-md-6">
                                                <div class="form-group mb-2">
                                                    <label> Phone  </label>
                                                    @Html.TextBoxFor(model => model.phone, new { @class = "form-control", @type = "number", placeholder = "Phone" })

                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label> Email ID  </label>
                                                    @Html.TextBoxFor(model => model.emailID, new { @class = "form-control", placeholder = "Email ID" })
                                                    @Html.ValidationMessageFor(model => model.emailID, "", new { style = "color:red;" })
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label> Password </label>
                                                    @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Password" })
                                                    @Html.ValidationMessageFor(model => model.password, "", new { style = "color:red;" })
                                                </div>
                                            </div>


                                            <div class="col-xl-3 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label> Logo Image  </label>
                                                    <input type="file" class="form-control" name="logofile" id="logofile" accept="image/png,image/jpeg" placeholder="Logo Image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label id="lblErr" class="text-danger"></label>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" id="tbnSubmit" onclick="return SaveValidation()" class="btn btn-primary">Save</button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


}

</html>

