 @{
    ViewBag.Title = "Operation";
    Layout = "~/Views/Shared/_Admin.cshtml";

}



<!doctype html>
<html lang="en">

<head>


    <script src="~/angularjs/currentworking.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>


    <script type="text/javascript">


        function IsNumber(e) {

            var theEvent = event || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;

            if (!regex.test(key)) {
                theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
            }
        }
    </script>

</head>
@using (@Html.BeginForm())
{
    <body>
        <div ng-app="myApp">
            <div ng-controller="myController">

                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    <a href="@Url.Action("Quotation", "Client")" class="btn btn-primary"><span>Quotation </span></a>
                                    <a href="@Url.Action("ProjectManagement", "Admin")" class="btn btn-primary"><span>Prj Management </span></a>
                                    <a href="@Url.Action("PRF", "Admin")" class="btn btn-primary"><span>PRF </span></a>
                                    @*<a href="@Url.Action("Operation", "Admin")" class="btn btn-primary"><span> Operation  </span></a>*@
                                    <a href="@Url.Action("SiteVisit", "Admin")" class="btn btn-primary"><span>Site Visit </span></a>
                                    <a href="@Url.Action("CurrentWorking", "Admin")" class="btn btn-primary"><span> Current working  </span></a>

                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- start page title -->
                        <!--<div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <div class="col-xl-2 col-md-2">
                    <div class="form-group mb-3">
                        <h4 class="mb-sm-0 font-size-18">Current Working </h4>
                    </div>
                </div>


                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <button type="button" class="btn btn-outline-secondary">
                            Normal	 <span class="badge bg-success ms-1">{{normal}}</span>
                        </button>
                        <button type="button" class="btn btn-primary bg-warning">
                            Attention	 <span class="badge bg-success ms-1">{{attention}}</span>
                        </button>
                        <button type="button" class="btn btn-success bg-danger">
                            Critical<span class="badge bg-danger ms-1">{{critical}}</span>
                        </button>

                    </ol>
                </div>

            </div>
        </div>
    </div>-->
                        @*<div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="form-group mb-3">
                <select class="form-control" ng-model="category" ng-options="item for item in projectCategory" style="" ng-change="GetSubcategory()"></select>

            </div>
        </div>*@
                        @*<div class="col-xl-1 col-md-6">
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="ShowDesignerTask()">Search</button>
            </div>
        </div>

        <div class="col-xl-2 col-md-6">

            <div class="form-group">

                <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Add New Project </button>
            </div>
        </div>*@

                        @*</div>*@
                        @*<div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="form-group mb-3">
                    <select class="form-control" ng-model="subcategoryName" ng-options="item for item in subcategory" style=""></select>

                </div>
            </div>
            <div class="col-xl-1 col-md-6">
                <div class="form-group">

                    <button type="button" class="btn btn-primary" ng-click= "Search()">Search</button>
                </div>
            </div>

            <div class="col-xl-2 col-md-6">

                <div class="form-group">

                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Add New Project </button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="form-group mb-3">
                    <select class="form-control" ng-model="designer" ng-options="item for item in designerlist" style=""></select>

                </div>
            </div>
            <div class="col-xl-1 col-md-6">
                <div class="form-group">

                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>

        </div>*@

                         


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <form>
                                <br />
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-5">
                                        <label class="my-1 mr-2 form-lable" style="margin-left:20px;">
                                            Category
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-7">
                                        <select class="form-control" ng-model="category" ng-options="item for item in projectCategory" style="" ng-change="GetSubcategory()"></select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-5">
                                        <label class="my-1 mr-2 form-lable" style="margin-left:20px;">
                                            Subcategory
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-7">
                                        <select class="form-control" ng-model="subcategoryName" ng-options="item for item in subcategory" style=""></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-5">
                                        <label class="my-1 mr-2 form-lable" style="margin-left:20px;">
                                            Designer
                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-7">

                                        <select class="form-control" ng-model="dname" ng-options="items.Text for items in designerList" style=""></select>


                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-5">
                                        <label class="my-1 mr-2 form-lable">

                                        </label>
                                    </div>
                                    <div class="col-lg-8 col-7">
                                        <label class="my-1 mr-2 form-lable" style="color:red">{{lblErr}}</label>


                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <div class="col-lg-2 col-2">
                                        <button type="button" class="btn btn-primary d-block ml-auto mt-3" ng-click="Search()">Search</button>
                                    </div>
                                    <div class="col-lg-3 col-4">
                                        <button type="button" class="btn btn-primary d-block ml-auto mt-3" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Add New Project </button>


                                    </div>
                                </div>

                            </form>
                        </div>
                        

                        <div class="col-md-6 align-self-center">
                            <button type="button" class="btn btn-designer mr-2 mb-3">Normal</button>
                            <button type="button" class="btn btn-warning mr-2 mb-3">Assigned</button>
                            @*<button type="button" class="btn btn-danger mr-2 mb-3">Critical</button>*@
                            <button type="button" class="btn btn-success mr-2 mb-3" style="background-color:#E3FF00; border-color:#E3FF00;color:black">Submitted </button>
                        </div>
                    </div>


                        @*<div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                        </div>
                        <div class="text-center" ng-hide="loading">
                            <button type="button" class="btn btn-dark waves-effect waves-light">
                                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                            </button>
                        </div>

                        <div class="text-center">
                            <span style="font-size:18pt;" class="text-danger">{{record}}</span>
                        </div>

                        <div class="table-responsive">
                            <table class="table align-middle datatable dt-responsive table-bordered  nowrap" style=" border: 1px solid black; border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                <thead>
                                    <tr class="bg-transparent">

                                        <th style="">  Sno  </th>
                                        <th style="">  Project ID </th>
                                        <th>Name </th>
                                        <th>PRF</th>
                                        <th>Category</th>
                                        <th>Subcategory </th>
                                        <th>Plot size	</th>
                                        <th>Level</th>
                                        <th>Designer </th>
                                        <th>Remark</th>
                                        <th>Confirm</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in workinglist">
                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color:black "> {{item.sno}}  </span>
                                        </td>
                                        <td style="background-color:{{item.rowcolor }}">
                                            <span style="color: black ">  {{item.projectID}}  </span>
                                        </td>
                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black ">  {{item.clientName}}  </span>
                                        </td>
                                        <td style=" background-color:{{item.rowcolor }}">
                                            <a href="@Url.Action("DownloadPRF","Admin")?projectID={{item.projectID}}&location={{item.projectlocation}}" class="btn btn-sm btn-info" style="width:50px; height:35px;">
                                                <span style="font-size:12pt;">   PRF</span>
                                            </a>

                                        </td>

                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black ">  {{item.category }}  </span>
                                        </td>
                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black "> {{item.subcategory}} </span>
                                        </td>

                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black "> {{item.plotSize}} </span>
                                        </td>
                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black "> {{item.projectLevel}} </span>
                                        </td>

                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black "> {{item.designerName}}</span>
                                        </td>
                                        <td style=" background-color:{{item.rowcolor }}">
                                            <span style="color: black "> {{item.remark}}</span>
                                        </td>


                                        <td style=" background-color:{{item.rowcolor }}">

                                            <button type="button" class="btn btn-primary waves-effect waves-light w-sm" ng-click="ShowCurrentWorking(item)" data-bs-toggle="modal" data-bs-target=".bs-example-modal-confirm">
                                                Confirm
                                            </button>
                                        </td>

                                        <td style=" background-color:{{item.rowcolor }}">
                                            <button type="button" class="btn btn-danger waves-effect waves-light w-sm" ng-click="ShowDelete(item)" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center3">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" style="text-align:center"> <span class="text-center font-size-18 text-danger" >{{err}}</span> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">

                                    </div>
                                    <div class="text-center" ng-hide="loading">
                                        <button type="button" class="btn btn-dark waves-effect waves-light">
                                            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                                        </button>
                                    </div>

                                    <div class="text-center">
                                        <span style="font-size:18pt;" class="text-danger">{{record}}</span>
                                    </div>

                                    <div class="table-responsive">
                                        @*table align-middle datatable dt-responsive table-bordered  nowrap" style=" border: 1px solid black; border-collapse: collapse; border-spacing: 0 8px; width: 100%;*@
                                        <table class="table table-bordered" id="dataTable">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Project ID </th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">PRF</th>
                                                    <th scope="col">Category </th>
                                                    <th scope="col">Subcategory </th>
                                                    <th scope="col">Tech Remark</th>
                                                    <th scope="col">Designer</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Download </th>
                                                    <th scope="col">Action </th>
                                                    <th scope="col">Roll Back</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in workinglist">
                                                    <td style="background-color:{{item.rowcolor }}">{{item.projectID}}</td>
                                                    <td style="background-color:{{item.rowcolor }}">{{item.clientName}}</td>
                                                    <td style=" background-color:{{item.rowcolor }}">
                                                        <a href="@Url.Action("DownloadPRF","Admin")?projectID={{item.projectID}}&location={{item.projectlocation}}" class="btn btn-sm btn-info" style="width:50px; height:35px;">
                                                            <span style="font-size:12pt;">   PRF</span>
                                                        </a>
                                                    </td>



                                                    <td style="background-color:{{item.rowcolor }}">{{item.category}}</td>
                                                    <td style="background-color:{{item.rowcolor }}">{{item.subcategory}}</td>
                                                    <td style="background-color:{{item.rowcolor }}">{{item.remark}}</td>

                                                    <td style="background-color:{{item.rowcolor }}">{{item.designerName}}</td>
                                                    <td style="background-color:{{item.rowcolor }}">
                                                        {{item.designerName}}
                                                    </td>
                                                    <td style="background-color:{{item.rowcolor }}">{{item.status}}</td>
                                                    <td style="background-color:{{item.rowcolor }}">
                                                       <div ng-if="item.uploadFileName.length != 0">
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".bs-example-modal-send" ng-click="ShowFileInPopup(item)">
                                                                <i class="fa fa-download"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td style="background-color:{{item.rowcolor }}">
                                                        @*<div ng-if="item.filename.length == 0">
                        <div ng-if="item.assignedDesignerName =='0' && item.projectCategory !='Conference'">*@
                                                         
                                                        <div ng-if="item.projectStatus=='Normal'">
                                                            <button type="button" class="btn btn-primary waves-effect waves-light w-sm" ng-click="ShowCurrentWorking(item)" data-bs-toggle="modal" data-bs-target=".bs-example-modal-Assign">
                                                                Assign
                                                            </button>
                                                        </div>
                                                         
                                                    </td>
                                                    <td style="background-color:{{item.rowcolor }}">
                                                        @*<div ng-if="item.rollback =='Y' ">*@
                                                        <div ng-if="item.projectStatus !='Normal'">
                                                            <button type="button" class="btn btn-primary waves-effect waves-light w-sm" data-bs-toggle="modal" data-bs-target=".bs-example-modal-rollbackPopup" ng-click="RollBack(item)">
                                                                <i class="fa fa-undo"></i>
                                                            </button>
                                                        </div>
                                                            @*<button type="button" class="btn btn-primary waves-effect waves-light w-sm" ng-click="ShowCurrentWorking(item)" data-bs-toggle="modal" data-bs-target=".bs-example-modal-confirm">
                Confirm
            </button>*@

                                                            @*</div>*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="10" style="text-align:center">
                                                        <span style="font-size:16pt;color:red"> {{lblMsg}}</span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="modal fade bs-example-modal-Assign" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Project Assign</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <label class="my-1 mr-2 form-lable" for="inlineFormCustomSelectPref">
                                            Project ID
                                        </label>
                                        <input ng-model="projectID" type="text" class="form-control input-control light-bg" id="projectID" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <label class="my-1 mr-2 form-lable ml-5" for="inlineFormCustomSelectPref">
                                            Option
                                        </label>
                                        <input ng-model="projectOpt" type="text" class="form-control input-control light-bg" id="projectOpt" readonly="">
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div class="d-flex align-items-center">
                                        <label class="my-1 mr-2 form-lable " for="inlineFormCustomSelectPref">
                                            Designer
                                        </label>
                                        <select class="form-control" id="assignDesignerID" ng-model="assignDesignerID" ng-options="items.Value as items.Text for items in assignDesignerList"></select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="lable-text">Tech Remark</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" ng-model="remark" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="lable-text">Tech Attachment</label>

                                        <input type="file" id="fileToUpload" name="fileToUpload" ng-model="files" ngf-select="UploadFiles($files)" class="form-control" />
                                        <ul><li ng-repeat="file in SelectedFiles">{{file.name}}</li></ul>
                                        <div id="dvProgress" class="progress" ng-show="Progress >= 0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group form-check ">

                                            <input class="form-check-input check-kbox" ng-model="chkConferenceImage" type="checkbox" name="remember" id="terms-check">
                                            <label class="form-check-label" for="terms-check">
                                                <span> Attach Conference Attachment</span>
                                            </label>
                                        </div>
                                        <div class="form-group form-check ">
                                            <input class="form-check-input check-kbox" ng-model="chkConferenceStickyNotes" type="checkbox" name="remember" id="AttechCNotes">
                                            <label class="form-check-label" for="AttechCNotes">
                                                <span> Attach C Notes </span>
                                            </label>
                                        </div>
                                        <div class="form-group form-check ">
                                            <label class="form-check-label" for="AttechCNotes">
                                                <span style="color:Red"> {{errormsg}}  </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                &nbsp;&nbsp; &nbsp;<button type="submit" class="btn btn-primary" ng-click="ProjectAssigned()">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>*@



                    <div class="modal fade bs-example-modal-send" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="modal-header">
                                        <h5 class="modal-title">Click to Open the file in webcanvas. Or select the file to send to client</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <br /><br />
                                          <div class="row">
                                              @*<div class="col-lg-12">
            <div class="row">
                <div class="form-group col-md-10">

                    <label class="form-lable" for="inlineFormCustomSelectPref">
                        Do you want to rollback the project  {{rollbackProjectID}}  option {{rollbackOption}}  ?

                    </label>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary" ng-click="RollBack()" onclick="closeRollBack()">Yes</button>
        </div>*@

                                              <div class="form-group form-check " ng-repeat="itm in filelist">
                                                  <input class="form-check-input check-kbox" type="checkbox" name="remember" ng-model="folder[itm]" id={{itm}}>
                                                  <label class="form-check-label" for="terms-check">

                                                      <div ng-if="itm.substr((itm.lastIndexOf('.') + 1)) =='dwg'">
                                                          <a href="@Url.Action("DownloadDWG", "Technical")?filename={{itm}}&option={{fileoption}}&pmID={{pmID}}&projectID={{projectID}}&projectType={{projectType}}&projectCategory={{projectCategory}}">{{itm}} </a>
                                                      </div>
                                                      <div ng-if="itm.substr((itm.lastIndexOf('.') + 1)) !='dwg'">
                                                          <a href="@Url.Action("OpenElevationViewer", "Technical")?filename={{itm}}&option={{fileoption}}&pmID={{pmID}}&projectID={{projectID}}&projectType={{projectType}}&projectCategory={{projectCategory}}">{{itm}} </a>
                                                      </div>
                                                  </label>
                                              </div>


                                              <div class="form-group form-check" ng-if="projectCategory == 'Final View'">
                                                  <input class="form-check-input check-kbox" type="checkbox" id="chkTwitter" name="chkTwitter" ng-model="chkTwitter">
                                                  <label class="form-check-label" for="terms-check">
                                                      Twitter
                                                  </label>
                                                  &nbsp;&nbsp;  &nbsp;&nbsp;
                                                  <input class="form-check-input check-kbox" type="checkbox" id="chkFacebook" name="chkFacebook" ng-model="chkFacebook">
                                                  <label class="form-check-label" for="terms-check">
                                                      Facebook
                                                  </label>
                                              </div>

                                              <div class="form-group">

                                                  <label class="form-check-label">
                                                      <span style="color:red">{{lblError}}</span>
                                                  </label>
                                              </div>

                                              <div ng-if="projectCategory != '3D Model'">
                                                  <input type="button" value="Send to Client" ng-click="TaskSend()" class="btn btn-primary" />
                                              </div>
                                              <div ng-if="projectCategory == '3D Model'">
                                                  <input type="button" value="Accept" ng-click="TaskSend()" class="btn btn-primary" />
                                              </div>


                                          </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        @*<div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Click to Open the file in webcanvas. Or select the file to send to client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-center" ng-hide="webcanvasload">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group form-check " ng-repeat="itm in filelist">
                            <input class="form-check-input check-kbox" type="checkbox" name="remember" ng-model="folder[itm]" id={{itm}}>
                            <label class="form-check-label" for="terms-check">

                                <div ng-if="itm.substr((itm.lastIndexOf('.') + 1)) =='dwg'">
                                    <a href="@Url.Action("DownloadDWG", "Technical")?filename={{itm}}&option={{fileoption}}&pmID={{pmID}}&projectID={{projectID}}&projectType={{projectType}}&projectCategory={{projectCategory}}">{{itm}} </a>
                                </div>
                                <div ng-if="itm.substr((itm.lastIndexOf('.') + 1)) !='dwg'">
                                    <a href="@Url.Action("OpenElevationViewer", "Technical")?filename={{itm}}&option={{fileoption}}&pmID={{pmID}}&projectID={{projectID}}&projectType={{projectType}}&projectCategory={{projectCategory}}">{{itm}} </a>
                                </div>
                            </label>
                        </div>


                        <div class="form-group form-check" ng-if="projectCategory == 'Final View'">
                            <input class="form-check-input check-kbox" type="checkbox" id="chkTwitter" name="chkTwitter" ng-model="chkTwitter">
                            <label class="form-check-label" for="terms-check">
                                Twitter
                            </label>
                            &nbsp;&nbsp;  &nbsp;&nbsp;
                            <input class="form-check-input check-kbox" type="checkbox" id="chkFacebook" name="chkFacebook" ng-model="chkFacebook">
                            <label class="form-check-label" for="terms-check">
                                Facebook
                            </label>
                        </div>

                        <div class="form-group">

                            <label class="form-check-label">
                                <span style="color:red">{{lblError}}</span>
                            </label>
                        </div>

                        <div ng-if="projectCategory != '3D Model'">
                            <input type="button" value="Send to Client" ng-click="TaskSend()" class="btn btn-primary" />
                        </div>
                        <div ng-if="projectCategory == '3D Model'">
                            <input type="button" value="Accept" ng-click="TaskSend()" class="btn btn-primary" />
                        </div>


                    </form>
                </div>
            </div>
        </div>*@
                    



                        <div class="modal fade bs-example-modal-Assign" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="modal-body">

                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Assign</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                         
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-xl-11 col-md-6">
                                                    <div class="form-group mb-3">
                                                        <label>Project ID </label>
                                                        <input ng-model="assignProjectID" type="text" class="form-control input-control light-bg" id="assignProjectID" readonly>
                                                    </div>
                                                </div>


                                                <div class="col-xl-11 col-md-6">
                                                    <div class="form-group mb-3">
                                                        <label>Designer </label>
                                                        <select class="form-control" ng-model="assignDesigner" ng-options="items.Text for items in assignDesignerList" style=""></select>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-11">
                                                    <div class="form-group">
                                                        <label class="lable-text">Tech Remark</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" ng-model="techRemark" rows="3" maxlength="450"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-11">
                                                    <div class="form-group text-center">
                                                        <span style="color:red; font-size:14pt">{{lblAssinError}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        &nbsp;&nbsp; &nbsp;<input type="button" class="btn btn-primary" ng-click="ProjectAssigned()" value="Submit" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade bs-example-modal-rollbackPopup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="modal-body">

                                        <div class="modal-header">
                                            <h4 class="modal-title">Roll Back</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <br /><br />
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="form-group col-md-10">

                                                        <label class="form-lable" for="inlineFormCustomSelectPref">
                                                            Do you want to rollback the project  {{rollbackProjectID}}  ?

                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                <button type="button" class="btn btn-primary" ng-click="RollBackConfirm()" onclick="closeRollBack()">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>







                        <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add New Project</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div>
                                                    <form id="pristine-valid-example" novalidate method="post">
                                                        <input type="hidden" />
                                                        <div class="row">

                                                            <div class="col-xl-9 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Project ID </label>
                                                                    <input type="text" ng-model="txtPID" onkeypress="return IsNumber();" class="form-control" placeholder="Project ID" />


                                                                </div>
                                                            </div>
                                                            <div class="col-xl-2 col-md-6">
                                                                <div class="form-group mb-3">

                                                                    <label>.</label>
                                                                    <button type="button" class="btn btn-primary" ng-click="SearchProject()">Search</button>

                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Client name	 </label>
                                                                    <input type="text" ng-model="txtCName1" class="form-control" readonly />

                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Project Type </label>
                                                                    <input type="text" ng-model="txtPType" class="form-control" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="mb-4">
                                                                    <label class="form-label" for="default-input"> Project category</label>

                                                                    <select class="form-control" ng-model="cmbProjectCategory" style="">
                                                                        <option value="Elevation" selected>Elevation</option>
                                                                        <option value="Revised Elevation">Revised Elevation</option>
                                                                        <option value="Dratf View">Dratf View</option>
                                                                        <option value="Revised View">Revised View</option>
                                                                        <option value="Final View">Final View</option>
                                                                        <option value="Interior"> Interior</option>
                                                                        <option value="3D Floor Plan">3D Floor Plan</option>

                                                                    </select>

                                                                </div>
                                                            </div>

                                                            <div class="col-xl-12 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Designer </label>
                                                                    <select class="form-control" ng-model="dName1" ng-options=" items.Text for items in designerList1"></select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Designer Amount</label>
                                                                    <input type="text" ng-model="txtAmount" class="form-control" onkeypress="return IsNumber();" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" ng-click="SubmitNewProject()" class="btn btn-primary waves-effect waves-light">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div class="modal fade bs-example-modal-center2" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Working Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div>
                                                    <form id="pristine-valid-example" novalidate method="post">
                                                        <input type="hidden" />
                                                        <div class="row">

                                                            <div class="col-xl-6 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Project ID </label>
                                                                    <input type="text" id="txtProjectID" ng-model="txtProjectID" class="form-control" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Client name	 </label>
                                                                    <input type="text" id="txtCName" ng-model="txtCName" readonly class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Project Type </label>
                                                                    <input type="text" id="txtProjectType" ng-model="txtProjectType" readonly class="form-control" placeholder="  " />


                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6 col-md-6">
                                                                <div class="form-group mb-3">
                                                                    <label>Project Category </label>
                                                                    <input type="text" id="txtProjectCategory" ng-model="txtProjectCategory " readonly class="form-control" />

                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12 col-md-12">
                                                                <div class="form-group mb-3">
                                                                    <label>Remark </label>

                                                                    <textarea ng-model="txtRemark" class="form-control" rows="2" cols="20" style=" "></textarea>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" ng-click="CurrentWorkingRemarkUpdate();" class="btn btn-primary waves-effect waves-light">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->



                        <div class="modal fade bs-example-modal-center3" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="modal-body">

                                        <div class="modal-header">
                                            <h3 class="modal-title">Delete Project</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <br /><br />
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="font-size:14pt;">  Are you want to delect project ID <b>{{projectID}}</b> ? </span><br><br>
                                            </div>

                                            <div class="modal-footer">


                                                <button type="button" class="btn btn-success waves-effect waves-light" ng-click="DeleteCurrentWorking()">Yes</button>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>







                        <div class="modal fade bs-example-modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="modal-body">

                                        <div class="modal-header">
                                            <h3 class="modal-title">Confirm Project</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <br /><br />
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span style="font-size:14pt;">  Do you want to complete current working  process of project ID <b>{{confirmprojectID}}</b> ? </span><br><br>
                                            </div>

                                            <div class="modal-footer">


                                                <button type="button" class="btn btn-success waves-effect waves-light" ng-click="CompleteCurrentWorking()">Yes</button>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>





    </body>
}

</html>