@model MvcSDesign.Models.GMail

@{
    ViewBag.Title = "Gmail Setting";
    Layout = "~/Views/Shared/_Admin.cshtml";

}
<html>

<head>

    @*<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="~/Scripts/angular.js"></script>*@
        <script src="~/angularjs/gmailSetting.js"></script>

     
        <script type="text/javascript">
            function Validation() {
                
                var pwd = document.getElementById("pwd").value;
                if (pwd.length < 5) {
                    document.getElementById("lblError").innerText = "Password require atleast 5 character";
                    document.getElementById("pwd").focus();
                    return false;
                }
                 
                return true;
            }
        </script> 
</head>
 
    @using (@Html.BeginForm())
    {

        @*<div ng-app="myApp">
                <div ng-controller="myController">
                    <br /><br /><br /><br /><br />
                    <div class="panel-group" style="margin-left:50px;">
                        <div class="panel panel-primary" style="margin-left:0px; width:900px; height:350px;">
                            <h2 style="font-family:Arial; font-size:18pt;margin-left:20px">Gmail setting</h2>
                            <div class="panel-body" style="margin-top:-10px">
                                <table class="table" style="margin-left:0px; width:500px; border:0px ; ">
                                    <tr>
                                        <td style="width: 100px; vertical-align:bottom; border: 0px solid black; ">
                                            <span style="font-family:Arial; font-size:10pt;color:black">  GMail Login  </span>
                                        </td>
                                        <td style=" border:0px solid black; ">
                                            @Html.DisplayFor(x=>x.gmailID, new { style = "font-family:Arial; font-size:10pt;color:black" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:bottom;border:0px solid black; ">
                                            <span style="font-family:Arial; font-size:10pt;color:black">  Password  </span>
                                        </td>
                                        <td style=" border:0px solid black; ">

                                            @Html.TextBoxFor(x=>x.pwd, new {@class="form-control", style = "font-family:Arial; font-size:12px;height:30px; width:180px;" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>

                                            <input type="submit" class="btn btn-success" onclick="return Validation()" style="width:90px; font-family: Arial; font-size: 10pt;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
         
<body>

    <div ng-app="myApp">
        <div ng-controller="myController">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Gmail Setting</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>

                                        <div class="row">
                                            <div class="col-xl-6 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>Login </label><br />
                                                    @Html.DisplayFor(x => x.gmailID, new { @class = "form-control", style = "" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-4 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>Password </label>
                                                    @Html.TextBoxFor(x => x.pwd, new { @class = "form-control", placeholder = "Password" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6">
                                                <div class="form-group mb-3">
                                                  Time out :  @ViewBag.sessionTimeOut
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <label id="lblError" class="text-danger"></label>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" onclick="return Validation();">Save</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  }

</html>
