@{
    ViewBag.Title = "Operation";
    Layout = "~/Views/Shared/_Admin.cshtml";

}
<html lang="en">
<head>


    <script src="~/angularjs/operation1.js"></script>
    <script type="text/javascript">


        function IsNumber(e) {

            var theEvent = event || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;

            if (!regex.test(key)) {
                theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
            }
        }
    </script>
</head>

@using (@Html.BeginForm())
{

    <body>
        <div ng-app="myApp">
            <div ng-controller="myController">

                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <a href="@Url.Action("Quotation", "Client")" class="btn btn-primary"><span>Quotation </span></a>
                                    <a href="@Url.Action("ProjectManagement", "Admin")" class="btn btn-primary"><span>Prj Management </span></a>
                                    <a href="@Url.Action("PRF", "Admin")" class="btn btn-primary"><span>PRF </span></a>
                                    <a href="@Url.Action("Operation", "Admin")" class="btn btn-primary"><span> Operation  </span></a>
                                    <a href="@Url.Action("SiteVisit", "Admin")" class="btn btn-primary"><span>Site Visit </span></a>
                                    <a href="@Url.Action("CurrentWorking", "Admin")" class="btn btn-primary"><span> Current working  </span></a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Operation</h4>
                                        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Assign Projects </button>
                                    </div>

                                    <div class="text-center" ng-hide="loading">
                                        <button type="button" class="btn btn-dark waves-effect waves-light">
                                            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                                        </button>
                                    </div>
                                    <div class="text-center">
                                        <span class="text-danger" style="font-size:16pt">{{error}}</span>
                                    </div>
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table class="table align-middle datatable dt-responsive table-bordered nowrap" style=" border: 1px solid black; border-collapse: collapse; border-spacing: 0 8px; width: 100%;">


                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Project ID</th>
                                                        <th>Client name</th>
                                                        <th>Project Type</th>
                                                        <th>Package</th>
                                                        <th>Plot size</th>
                                                        <th>Level</th>
                                                        <th>Amount</th>
                                                        <th>Designer</th>
                                                        <th>Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in projectlist">
                                                        <th scope="row">
                                                            <span>  {{item.sno}}  </span>
                                                        </th>
                                                        <td>
                                                            <span>  {{item.projectID}}  </span>
                                                        </td>
                                                        <td>
                                                            <span>  {{item.clientName}}  </span>
                                                        </td>
                                                        <td>
                                                            <span style="font-family:Arial; font-size:10pt;">  {{item.projectType }}  </span>
                                                        </td>
                                                        <td>
                                                            <span style="font-family:Arial; font-size:10pt;"> {{item.package}} </span>
                                                        </td>
                                                        <td>
                                                            <span style="font-family:Arial; font-size:10pt;"> {{item.plotSize}} </span>
                                                        </td>
                                                        <td>
                                                            <span style="font-family:Arial; font-size:10pt;"> {{item.projectLevel}} </span>
                                                        </td>
                                                        <td>
                                                            <span style="font-family:Arial; font-size:10pt;"> {{item.amount}}</span>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" ng-model="item.designerName" ng-options="items.Value as items.Text for items in designerlst" style="width:160px;font-family:Arial; font-size:10pt;"></select>
                                                        </td>
                                                        <td>
                                                            @*<input type="button" value="Click" class="btn btn-info" ng-click="ShowAssignWindow(item.clientID, item.projectID, item.clientName, item.designerName, item.amount)" style=" margin-left: 10px; width: 70px; font-family: Arial; font-size: 10pt; background-color: #9ac8f5; " />*@

                                                            <button type="button" class="btn btn-success waves-effect waves-light w-sm" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center2" ng-click="ShowAssignWindow(item.clientID, item.projectID, item.clientName, item.designerName, item.amount)">
                                                                <i class="mdi mdi-pencil d-block font-size-16"></i> Edit
                                                            </button>


                                                        </td>
                                                    </tr>



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Assign Projects</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>


                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-lg-12">

                                        <div>

                                            <form id="pristine-valid-example" novalidate method="post">
                                                <input type="hidden" />
                                                <div class="row">

                                                    <div class="col-xl-4 col-md-4">
                                                        <div class="form-group mb-2">
                                                            <label>Project ID </label>
                                                            <div class="form-outline mb-2 ">
                                                                <input id="search-input" type="search" ng-model="txtProjectID" class="form-control" onkeypress="return IsNumber();" />
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-xl-1 col-md-2">
                                                        <div class="form-group mb-2">
                                                            <label>.</label>

                                                            <button id="search-button" type="button" class="btn btn-primary" ng-click="SearchProject()">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>


                                                  
                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Client name	 </label>
                                                            <input type="text" ng-model="txtClientName" class="form-control" readonly style="    " />
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Project Type </label>
                                                            <input type="text" ng-model="txtProjectType" class="form-control" readonly style="    " />
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-6">
                                                        <div class="mb-4">
                                                            <label class="form-label" for="default-input"> Project category</label>
                                                            <select class="form-control" ng-model="cmbProjectCategory" style="font-family: Arial;">
                                                                <option value="Elevation" selected>Elevation</option>
                                                                <option value="Revised Elevation">Revised Elevation</option>
                                                                <option value="Dratf View">Dratf View</option>
                                                                <option value="Revised View">Revised View</option>
                                                                <option value="Final View">Final View</option>
                                                                <option value="Interior"> Interior</option>
                                                                <option value="3D Floor Plan">3D Floor Plan</option>

                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-6">
                                                        <div class="mb-4">
                                                            <label class="form-label" for="default-input"> Designer</label>
                                                            <select class="form-control" ng-model="dName" ng-options=" items.Text for items in designerList1" style=" "></select>
                                                        </div>
                                                    </div>



                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Designer Amount </label>
                                                            <input type="text" ng-model="txtAmount" class="form-control" onkeypress="return IsNumber();" style="  " />
                                                        </div>
                                                    </div>


                                                </div>

                                            </form>
                                        </div>

                                    </div>

                                    <div class="modal-footer">

                                        <button type="button" ng-click="SubmitNewProject()" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    </div>


                                    <!-- end col -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade bs-example-modal-center2" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Project Reassign </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div>
                                            <form id="pristine-valid-example" novalidate method="post">
                                                <input type="hidden" />
                                                <div class="row">

                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Project ID </label>
                                                            <input type="text"ng-model="projectID"   class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Client name	 </label>
                                                            <input type="text"ng-model="clientName"  readonly class="form-control" placeholder="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Project Type </label>
                                                            <select class="form-control" ng-model="projectCategory" >
                                                                <option value="Elevation" selected>Elevation</option>
                                                                <option value="Revised Elevation">Revised Elevation</option>
                                                                <option value="Dratf View">Dratf View</option>
                                                                <option value="Revised View">Revised View</option>
                                                                <option value="Final View">Final View</option>
                                                                <option value="Interior"> Interior</option>
                                                                <option value="3D Floor Plan">3D Floor Plan</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label>Amount</label>
                                                            <input type="text" ng-model="amount"  readonly   class="form-control"   />
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-md-12">
                                                        <div class="form-group mb-3">
                                                            <label>Designer amount </label>
                                                            <input type="text" ng-model="designerAmount"    onkeypress="return IsNumber();"  class="form-control" placeholder="Designer amount" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary waves-effect waves-light" ng-click="Submit()">Submit</button>
                                        <input type="text" ng-model="designerID" class="form-control" style="border:0px; width: 0px; height: 0px; background-color:white;color:white; " />
                                    </div>


                                    <!-- end col -->
                                </div>
                            </div>


                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div>
        </div>
         
    </body>



}

</html>