@{
    ViewBag.Title = "PRF";
     Layout = "~/Views/Shared/_Admin.cshtml";
}



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Project Requirement Form</title>


    <script src="~/angularjs/prf.js"></script>

    <link href="~/assets/formrequirement/style.css" rel="stylesheet" />
    <script src="~/assets/formrequirement/jquery.min.js"></script>
    <script src="~/assets/formrequirement/jquery-ui.min.js"></script>

    <script src="~/assets/formrequirement/script.js"></script>
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <style type="text/css">
        html {
            height: 100%;
        }

        

        #msform {
            text-align: center;
            position: relative;
            margin-top: 20px;
        }

            #msform fieldset .form-card {
                background: white;
                border: 0 none;
                border-radius: 0px;
                box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
                padding: 20px 40px 30px 40px;
                box-sizing: border-box;
                width: 94%;
                margin: 0 3% 20px 3%;
                /*stacking fieldsets above each other*/
                position: relative;
            }

            #msform fieldset {
                background: white;
                border: 0 none;
                border-radius: 0.5rem;
                box-sizing: border-box;
                width: 100%;
                margin: 0;
                padding-bottom: 20px;
                /*stacking fieldsets above each other*/
                position: relative;
            }

                /*Hide all except first fieldset*/
                #msform fieldset:not(:first-of-type) {
                    display: none;
                }

                #msform fieldset .form-card {
                    text-align: left;
                    color: #9E9E9E;
                }

            #msform input, #msform textarea {
                padding: 0px 8px 4px 8px;
                border: none;
                border-bottom: 1px solid #ccc;
                border-radius: 0px;
                margin-bottom: 25px;
                margin-top: 2px;
                width: 100%;
                box-sizing: border-box;
                font-family: montserrat;
                color: #2C3E50;
                font-size: 16px;
                letter-spacing: 1px;
            }

                #msform input:focus, #msform textarea:focus {
                    -moz-box-shadow: none !important;
                    -webkit-box-shadow: none !important;
                    box-shadow: none !important;
                    border: none;
                    font-weight: bold;
                    border-bottom: 2px solid skyblue;
                    outline-width: 0;
                }

        /*Blue Buttons*/
        #form2 .action-button {
            width: 100px;
            background: skyblue;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

        #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
        }

        /*Previous Buttons*/
        #form1 .action-button-previous {
            width: 100px;
            background: #616161;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

            #form1 .action-button-previous:hover, #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
            }




        /*Dropdown List Exp Date*/
        select.list-dt {
            border: none;
            outline: 0;
            border-bottom: 1px solid #ccc;
            padding: 2px 5px 3px 5px;
            margin: 2px;
        }

            select.list-dt:focus {
                border-bottom: 2px solid skyblue;
            }

        /*The background card*/
        .card {
            z-index: 0;
            border: none;
            border-radius: 0.5rem;
            position: relative;
        }

        /*FieldSet headings*/
        .fs-title {
            font-size: 25px;
            color: #2C3E50;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left;
        }

        /*progressbar*/
        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: lightgrey;
        }

            #progressbar .active {
                color: #000000;
            }

            #progressbar li {
                list-style-type: none;
                font-size: 12px;
                width: 25%;
                float: left;
                position: relative;
            }

            /*Icons in the ProgressBar*/
            #progressbar #account:before {
                font-family: FontAwesome;
                content: "\f023";
            }

            #progressbar #personal:before {
                font-family: FontAwesome;
                content: "\f007";
            }

            #progressbar #payment:before {
                font-family: FontAwesome;
                content: "\f09d";
            }

            #progressbar #confirm:before {
                font-family: FontAwesome;
                content: "\f00c";
            }

            /*ProgressBar before any progress*/
            #progressbar li:before {
                width: 50px;
                height: 50px;
                line-height: 45px;
                display: block;
                font-size: 18px;
                color: #ffffff;
                background: lightgray;
                border-radius: 50%;
                margin: 0 auto 10px auto;
                padding: 2px;
            }

            /*ProgressBar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: lightgray;
                position: absolute;
                left: 0;
                top: 25px;
                z-index: -1;
            }

            /*Color number of the step and the connector before it*/
            #progressbar li.active:before, #progressbar li.active:after {
                background: skyblue;
            }

        /*Imaged Radio Buttons*/
        .radio-group {
            position: relative;
            margin-bottom: 25px;
        }

        .radio {
            display: inline-block;
            width: 204;
            height: 104;
            border-radius: 0;
            background: lightblue;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            cursor: pointer;
            margin: 8px 2px;
        }

            .radio:hover {
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
            }

            .radio.selected {
                box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
            }

        /*Fit image in bootstrap div*/
        .fit-image {
            width: 100%;
            object-fit: cover;
        }
    </style>
    <script type="text/javascript">

        //function getRecord() {
        //    var xmlhttp = new XMLHttpRequest;
        //    var pid = document.getElementById("txtProjectID_I").value;
        //    if (pid == "") return;
        //    var url = "checkProjectType.ashx?pid=" + pid;
        //    xmlhttp.open("GET", url, false);
        //    xmlhttp.send();

        //    var ch = xmlhttp.responseText;
        //    if (ch == "N") {
        //        document.getElementById("rdCornerPlotYes").disabled = true;
        //        document.getElementById("rdCornerPlotNo").disabled = true;
        //    }


        //    url = "searchprojecthandler.ashx?pid=" + pid;
        //    xmlhttp.open("GET", url, false);
        //    xmlhttp.send();
        //    url = xmlhttp.responseText;
        //    if (url != "") {
        //        var ch = url.split('#');
        //        document.getElementById("txtWorkingStatus_I").value = ch[0];

        //        if (ch[1].toString() == "Yes")
        //            document.getElementById("rdSlabDetailYes").checked = true;
        //        else
        //            document.getElementById("rdSlabDetailNo").checked = true;

        //        document.getElementById("txtSlabHeight_I").value = ch[2];
        //        document.getElementById("txtPlinthHeight_I").value = ch[3];
        //        document.getElementById("txtPorchHeight_I").value = ch[4];
        //        document.getElementById("ddlElevationPattern").value = ch[5];


        //        if (ch[7].toString() == "Yes")
        //            document.getElementById("rdTowerRoomYes").checked = true;
        //        else
        //            document.getElementById("rdTowerRoomNo").checked = true;

        //        if (ch[8].toString() == "Yes")
        //            document.getElementById("rdCornerPlotYes").checked = true;
        //        else
        //            document.getElementById("rdCornerPlotNo").checked = true;

        //        document.getElementById("txtPlotFaceSide_I").value = ch[9];

        //        if (ch[10].toString() == "Yes")
        //            document.getElementById("rdBoundaryWallDesignYes").checked = true;
        //        else
        //            document.getElementById("rdBoundaryWallDesignNo").checked = true;



        //        document.getElementById("txtAnyOther_I").value = ch[11];
        //        document.getElementById("txtDoorLintel_I").value = ch[12];
        //        document.getElementById("txtWindowSill_I").value = ch[13];
        //        document.getElementById("txtWindowLintel_I").value = ch[14];

        //        if (ch[11].length != 0) {
        //            document.getElementById("img1").style.display = "block";
        //            document.getElementById("img1").src = ch[11];
        //        }

        //        document.getElementById("txtStatus").style.display = "block";
        //        document.getElementById("txtStatus").value = "Update";
        //        document.getElementById("txtStatus").style.display = "none";
        //    }
        //    else {
        //        document.getElementById("txtStatus").value = "Save";
        //    }
        //}
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;


            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();
                //formvalidation();
                if (formvalidation() == 1) {
                    return;
                }


                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });

            $('.radio-group .radio').click(function () {
                $(this).parent().find('.radio').removeClass('selected');
                $(this).addClass('selected');
            });

            $(".submit").click(function () {
                return false;
            })

        });

        function formvalidation() {

            var error = 0;

            var ch = $('#progressbar li#account.active').length;
            var element = $('#txtProjectID').val();
            if (element == undefined || element == '' || !$.isNumeric(element)) {
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

            element = $('#txtWorkingStatus').val();
            if (element == undefined || element == '') {
                /*element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

            element = $('#txtSlabHeight').val();
            if (element == undefined || element == '') {
                /* element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

            var personal = $('#progressbar li#personal.active').length;
            if (personal == 0) return 0;

            element = $('#txtPlinthHeight').val();
             
            if (element == undefined || element == '' || !$.isNumeric(element)) {
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

            element = $('#txtPorchHeigh').val();
            if (element == undefined || element == '') {
                /*element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }
            
            element = $('#ddlElevationPattern').val();
            if (element == undefined || element == '') {
                /* element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

            element = $('#txtDoorLintel').val();
            if (element == undefined || element == '') {
                /* element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }


            var payment = $('#progressbar li#payment.active').length;
            if (payment == 0) return 0;

            element = $('#txtWindowSill').val();
            if (element == undefined || element == '') {
                /* element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

            element = $('#txtWindowLinte').val();
            if (element == undefined || element == '') {
                /* element.next('.error-msg').fadeIn();*/
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }

           

            var confirm = $('#progressbar li#confirm.active').length;
            if (confirm == 0) return 0;

            element = $('#txtPlotFaceSide').val();
            if (element == undefined || element == '') {
               
                $('.error-msg').fadeIn();
                error = 1;
                return error;
            }
            return 0;
        }
        function Save() {
            var projectID = $('#txtProjectID').val();
            var workingStatus = $('#txtWorkingStatus').val();
            var slabHeight = $('#txtSlabHeight').val();
            var plinthHeight = $('#txtPlinthHeight').val();
            var porchHeigh = $('#txtPorchHeigh').val();
            var doorLintel = $('#txtDoorLintel').val();
            var windowSill = $('#txtWindowSill').val();
            var windowLinte = $('#txtWindowLinte').val();
            var plotFaceSide = $('#txtPlotFaceSide').val();
            var anyOther = $('#txtAnyOther').val();

            var elevationPattern = $("#ddlElevationPattern option:selected").text();   // $("#ddlEleationPattern").val();
            if (elevationPattern == "Select") {
                alert("Please select elevation pattern");
                return;
            }
            var towerRoom = $('input[name="TowerRoom"]:checked').val();
            var cornerPlot = $('input[name="CornerPlot"]:checked').val();
            var boundaryWall = $('input[name="BoundaryWall"]:checked').val();

            if (plotFaceSide == "") {
               $('.error-msg').fadeIn();
                return false;
            }


            var obj = new Object();
            obj.projectID = projectID;
            obj.workingStatus = workingStatus;
            //  obj.slabdetail = slabHeight;
            obj.slabheight = slabHeight;
            obj.plinthheight = plinthHeight;
            obj.porchheight = porchHeigh;
            obj.elevationpattern = elevationPattern;
            // obj.totalfloor = towerRoom;
            obj.towerroom = towerRoom;
            obj.cornerplotplan = cornerPlot;
            obj.plotside = plotFaceSide;
            obj.boundrywall = boundaryWall;
            obj.doorlintel = doorLintel;
            obj.windowsill = windowSill;
            obj.windowlintel = windowLinte;
            obj.anyother = anyOther;
            $.ajax({

                url: "/Admin/SavePRF",
                type: "POST",
                dataType: "json",
                contentType: 'application/json;charaset=utf-8',
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result == "") {
                        alert("PRF successfully saved ");
                        window.location.reload();
                    }
                },
                error: function () {
                    window.location.reload();
                }
            });

        }

        function IsNumber(e) {

            var theEvent = event || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;

            if (!regex.test(key)) {
                theEvent.preventDefault ? theEvent.preventDefault() : (theEvent.returnValue = false);
            }
        }
    </script>
</head>
 
<body>




    <div ng-app="myApp">
        <div ng-controller="myController">



            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">

                                <a href="@Url.Action("Quotation", "Client")" class="btn btn-primary"><span>Quotation </span></a>
                                <a href="@Url.Action("ProjectManagement", "Admin")" class="btn btn-primary"><span>Prj Management </span></a>
                                <a href="@Url.Action("PRF", "Admin")" class="btn btn-primary"><span>PRF</span></a>
                                @*<a href="@Url.Action("Operation", "Admin")" class="btn btn-primary"><span> Operation  </span></a>*@
                                <a href="@Url.Action("SiteVisit", "Admin")" class="btn btn-primary"><span>Site Visit </span></a>
                                <a href="@Url.Action("CurrentWorking", "Admin")" class="btn btn-primary"><span> Operation </span></a>
                                <a href="@Url.Action("Receipt", "Admin")" class="btn btn-primary"><span>Receipt</span></a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <div class="col-xl-2 col-md-2">
                                    <div class="form-group mb-3">
                                        <h4 class="mb-sm-0 font-size-18">PRF </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-2 col-md-2">
                            <div class="form-group mb-3">
                                <input type="radio" ng-model="opt" value="projectID" class="form-check-input">
                                <label>Project ID </label>
                                <input type="text" ng-model="varProjectID" class="form-control" placeholder="Project ID" onkeypress="IsNumber()" />
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-3">
                            <div class="form-group mb-3">
                                <input type="radio" ng-model="opt" value="name" class="form-check-input">
                                <label>Client Name  </label>
                                <input type="text" ng-model="varName" class="form-control" placeholder="Name" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-3">
                            <div class="form-group mb-3">
                                <input type="radio" ng-model="opt" value="projectName" class="form-check-input">
                                <label>Project Name  </label>
                                <input type="text" ng-model="varProjectName" class="form-control" placeholder="Name" />
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-6">
                            <label> . </label>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="Search()">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" ng-hide="loading">
                        <button type="button" class="btn btn-dark waves-effect waves-light">
                            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                        </button>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                
                                    
                                    <div class="text-center">
                                        <span style="font-size:14pt;" class="text-danger">{{record}}</span>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table align-middle datatable dt-responsive table-bordered  nowrap" style=" border: 1px solid black; border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                            <thead class="bg-warning text-white">
                                                <tr class="bg-transparent">
                                                    <th style="">  Sno  </th>
                                                    <th style="">  Project ID </th>
                                                    <th>Client Name </th>
                                                    <th>Project Name</th>
                                                    <th>Plot size	</th>
                                                    <th>Level</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in sitevisitlist">
                                                    <td>
                                                        <span style="color:black "> {{$Index+1}} </span>
                                                    </td>

                                                    <td>
                                                        <span style="color: black ">  {{item.projectID}}  </span>
                                                    </td>

                                                    <td>
                                                        <span style="color: black ">  {{item.clientName}}  </span>
                                                    </td>
                                                    <td>
                                                        <span style="color: black ">  {{item.projectName }}  </span>
                                                    </td>

                                                    <td>
                                                        <span style="color: black "> {{item.plotSize}} </span>
                                                    </td>
                                                    <td>
                                                        <span style="color: black "> {{item.projectLevel}} </span>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary waves-effect waves-light w-sm" ng-click="ShowCurrentWorking(item)" data-bs-toggle="modal" data-bs-target=".bs-example-modal-confirm">
                                                            Action
                                                        </button>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                     
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="modal fade bs-example-modal-confirm" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Project Requirement Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="row justify-content-center mt-0">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center p-0 mt-3 mb-2">

                                                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                                                        @*<h2><strong></strong></h2>*@
                                                        <div class="row">
                                                            <div class="col-md-12 mx-0">
                                                                <form id="form1">
                                                                    <!-- progressbar -->
                                                                    <ul id="progressbar">
                                                                        <li class="active" id="account"><strong></strong></li>
                                                                        <li id="personal"><strong></strong></li>
                                                                        <li id="payment"><strong></strong></li>
                                                                        <li id="confirm"><strong></strong></li>
                                                                    </ul>
                                                                    <!-- fieldsets -->
                                                                    <fieldset>
                                                                        <div class="form-card">
                                                                            <h2 class="fs-title"></h2>
                                                                            <input type="text" class="form-control" name="txtProjectID" id="txtProjectID" placeholder="Project ID" onkeypress="IsNumber()" readonly />
                                                                            <span class="error-msg">This field is required and numeric value only</span>
                                                                            <label><span style="color:black">2. Specify the <b>actual working status </b> of the site</span><span class="required">*</span> </label>
                                                                            <input type="text" class="form-control" name="txtWorkingStatus" id="txtWorkingStatus" placeholder="" />
                                                                            <span class="error-msg">This field is required </span>

                                                                            <label><span style="color:black">3. Specify the <b>slab height </b> (In feet)</span><span class="required">*</span></label>
                                                                            <input type="text" class="form-control" name="txtSlabHeight" id="txtSlabHeight" placeholder="" />
                                                                            <span class="error-msg">This field is required </span>
                                                                        </div>
                                                                        <input type="button" name="next" class="next action-button" value="Next Step" />
                                                                    </fieldset>
                                                                    <fieldset>
                                                                        <div class="form-card">
                                                                            <h2 class="fs-title"></h2>
                                                                            <label><span style="color:black">4. Specify the <b>height of the plinth</b> (In Feet)</span></label>
                                                                            <input type="text" class="form-control" name="txtPlinthHeight" id="txtPlinthHeight" placeholder=" " />
                                                                            <span class="error-msg">This field is required </span>

                                                                            <label><span style="color:black">5. Specify the <b> height of porch </b> (In Feet) </span></label>
                                                                            <input type="text" class="form-control" name="txtPorchHeigh" id="txtPorchHeigh" placeholder="" />
                                                                            <span class="error-msg">This field is required </span>

                                                                            <label><span style="color:black">6. Specify the <b> desired design pattern </b> for the elevation</span></label>

                                                                            <select class="form-control" name="ddlElevationPattern" id="ddlElevationPattern">
                                                                                <option selected="selected" value="">Select</option>
                                                                                <option value="Traditional">Traditional</option>
                                                                                <option value="Modern">Modern</option>
                                                                                <option value="Green Façade">Green Façade</option>
                                                                                <option value="Geometrical">Geometrical</option>
                                                                            </select>
                                                                            <label><span style="color:black">7. <b> Door lintel </b> level <i> (In Feet)</i> </span></label>
                                                                            <input type="text" class="form-control" name="txtDoorLintel" id="txtDoorLintel" placeholder="" />
                                                                            <span class="error-msg">This field is required </span>

                                                                        </div>
                                                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                                        <input type="button" name="next" class="next action-button" value="Next Step" />
                                                                    </fieldset>
                                                                    <fieldset>
                                                                        <div class="form-card">
                                                                            <h2 class="fs-title"></h2>

                                                                            <label style="color:black">8. <b> Window sill </b> level <i> (In Feet)</i> </label>
                                                                            <input type="text" class="form-control" name="txtWindowSill" id="txtWindowSill" placeholder="" />
                                                                            <span class="error-msg">This field is required </span>

                                                                            <label style="color:black">9. <b>Window lintel </b> level <i> (In Feet)</i> <span class="required">*</span></label>
                                                                            <input class="form-control" id="txtWindowLinte" name="txtWindowLinte" type="text" />
                                                                            <span class="error-msg">This field is required </span>


                                                                            <label style="color:black">10. Is the <b>tower room</b> is executed at Stairs ? <span class="required">*</span></label>
                                                                            <div class="radio-group">
                                                                                <table style="width:300px;">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <label style="color:black; width:70px;"><input id="rdTowerRoomYes" type="radio" name="TowerRoom" value="Yes" style="width:40px;" /> Yes</label>
                                                                                        </td>
                                                                                        <td>
                                                                                            <label style="color:black ; width:70px;"><input id="rdTowerRoomNo" type="radio" name="TowerRoom" value="No" style="width:40px;" checked="checked" /> No</label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <label style="color:black">11. Do you want <b>side elevations </b>?</label>
                                                                            <div class="radio-group" style="width:300px;">
                                                                                <table style="width:300px;">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <label for="rdCornerPlotYes" style="color: black; width: 70px;"><input id="rdCornerPlotYes" type="radio" name="CornerPlot" value="Yes" style="width:40px;" /> Yes</label>
                                                                                        </td>
                                                                                        <td>
                                                                                            <label for="rdCornerPlotNo" style="color: black; width: 70px;"><input id="rdCornerPlotNo" type="radio" name="CornerPlot" value="No" checked="checked" style="width:40px;" /> No</label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

                                                                        <input type="button" name="next" class="next action-button" value="Next Step" />
                                                                    </fieldset>
                                                                    <fieldset>
                                                                        <div class="form-card">
                                                                            <h2 class="fs-title"></h2>

                                                                            <label style="color:black">12. Mention the <b>facing side </b> of the plot  </label>
                                                                            <input type="text" class="form-control" name="txtPlotFaceSide" id="txtPlotFaceSide" placeholder="" />
                                                                            <span class="error-msg">This field is required </span>
                                                                            <label style="color:black">13. Do you want <b>boundary wall design </b>? <span class="required">*</span></label>
                                                                            <div class="radio-group">
                                                                                <table style="width:300px;">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <label style="color:black; width:70px;"><input id="rdBoundaryWallDesignYes" type="radio" name="BoundaryWall" value="Yes" style="width:40px;" /> Yes</label>
                                                                                        </td>
                                                                                        <td>
                                                                                            <label style="color:black ; width:70px;"><input id="rdBoundaryWallDesignNo" type="radio" name="BoundaryWall" value="No" style="width:40px;" checked="checked" /> No</label>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>

                                                                            </div>

                                                                            <label style="color:black">14. Any Other</label>
                                                                            <textarea maxlength="500" id="txtAnyOther" name="txtAnyOther"></textarea>
                                                                        </div>
                                                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                                        <input type="button" onclick="Save()" class="action-button" value="Submit" />

                                                                    </fieldset>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


















    <!--<div class="container-fluid" id="grad1" style="background-color:white">
       
         
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                 
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2><strong>Project Requirement Form</strong></h2>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="form1">-->
                                <!-- progressbar -->
                                <!--<ul id="progressbar">
                                    <li class="active" id="account"><strong></strong></li>
                                    <li id="personal"><strong></strong></li>
                                    <li id="payment"><strong></strong></li>
                                    <li id="confirm"><strong></strong></li>
                                </ul>-->
                                <!-- fieldsets -->
                                <!--<fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title"></h2>
                                        <input type="text" class="form-control" name="txtProjectID" id="txtProjectID" placeholder="Project ID" onkeypress="IsNumber()" />
                                        <span class="error-msg">This field is required and numeric value only</span>
                                        <label><span style="color:black">2. Specify the <b>actual working status </b> of the site</span><span class="required">*</span> </label>
                                        <input type="text" class="form-control" name="txtWorkingStatus" id="txtWorkingStatus" placeholder="" />
                                        <span class="error-msg">This field is required </span>

                                        <label><span style="color:black">3. Specify the <b>slab height </b> (In feet)</span><span class="required">*</span></label>
                                        <input type="text" class="form-control" name="txtSlabHeight" id="txtSlabHeight" placeholder="" />
                                        <span class="error-msg">This field is required </span>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title"></h2>
                                        <label><span style="color:black">4. Specify the <b>height of the plinth</b> (In Feet)</span></label>
                                        <input type="text" class="form-control" name="txtPlinthHeight" id="txtPlinthHeight" placeholder=" " />
                                        <label><span style="color:black">5. Specify the <b> height of porch </b> (In Feet) </span></label>
                                        <input type="text" class="form-control" name="txtPorchHeigh" id="txtPorchHeigh" placeholder="" />
                                        <label><span style="color:black">6. Specify the <b> desired design pattern </b> for the elevation</span></label>

                                        <select class="form-control" name="ddlElevationPattern" id="ddlElevationPattern">
                                            <option selected="selected" value="">Select</option>
                                            <option value="Traditional">Traditional</option>
                                            <option value="Modern">Modern</option>
                                            <option value="Green Façade">Green Façade</option>
                                            <option value="Geometrical">Geometrical</option>
                                        </select>
                                        <label><span style="color:black">7. <b> Door lintel </b> level <i> (In Feet)</i> </span></label>
                                        <input type="text" class="form-control" name="txtDoorLintel" id="txtDoorLintel" placeholder="" />
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title"></h2>

                                        <label style="color:black">8. <b> Window sill </b> level <i> (In Feet)</i> </label>
                                        <input type="text" class="form-control" name="txtWindowSill" id="txtWindowSill" placeholder="" />
                                        <label style="color:black">9. <b>Window lintel </b> level <i> (In Feet)</i> <span class="required">*</span></label>
                                        <input class="form-control" id="txtWindowLinte" name="txtWindowLinte" type="text" />
                                        <label style="color:black">10. Is the <b>tower room</b> is executed at Stairs ? <span class="required">*</span></label>
                                        <div class="radio-group">
                                            <table style="width:300px;">
                                                <tr>
                                                    <td>
                                                        <label style="color:black; width:70px;"><input id="rdTowerRoomYes" type="radio" name="TowerRoom" value="Yes" style="width:40px;" /> Yes</label>
                                                    </td>
                                                    <td>
                                                        <label style="color:black ; width:70px;"><input id="rdTowerRoomNo" type="radio" name="TowerRoom" value="No" style="width:40px;" checked="checked" /> No</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <label style="color:black">11. Do you want <b>side elevations </b>?</label>
                                        <div class="radio-group" style="width:300px;">
                                            <table style="width:300px;">
                                                <tr>
                                                    <td>
                                                        <label for="rdCornerPlotYes" style="color: black; width: 70px;"><input id="rdCornerPlotYes" type="radio" name="CornerPlot" value="Yes" style="width:40px;" /> Yes</label>
                                                    </td>
                                                    <td>
                                                        <label for="rdCornerPlotNo" style="color: black; width: 70px;"><input id="rdCornerPlotNo" type="radio" name="CornerPlot" value="No" checked="checked" style="width:40px;" /> No</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

                                    <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title"></h2>

                                        <label style="color:black">12. Mention the <b>facing side </b> of the plot  </label>
                                        <input type="text" class="form-control" name="txtPlotFaceSide" id="txtPlotFaceSide" placeholder="" />

                                        <label style="color:black">13. Do you want <b>boundary wall design </b>? <span class="required">*</span></label>
                                        <div class="radio-group">
                                            <table style="width:300px;">
                                                <tr>
                                                    <td>
                                                        <label style="color:black; width:70px;"><input id="rdBoundaryWallDesignYes" type="radio" name="BoundaryWall" value="Yes" style="width:40px;" /> Yes</label>
                                                    </td>
                                                    <td>
                                                        <label style="color:black ; width:70px;"><input id="rdBoundaryWallDesignNo" type="radio" name="BoundaryWall" value="No" style="width:40px;" checked="checked" /> No</label>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>

                                        <label style="color:black">14. Any Other</label>
                                        <textarea maxlength="500" id="txtAnyOther" name="txtAnyOther"></textarea>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" onclick="Save()" class="action-button" value="Submit" />

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</body>


</html>

