 

@{
    ViewBag.Title = "Designer Ledger";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <script src="~/angularjs/ReportDesinger.js"></script>

</head>

@using (@Html.BeginForm())
{
    <body>
        <div ng-app="myApp">
            <div ng-controller="myController">

                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <a href="@Url.Action("ReportClientLedger", "Admin")" class="btn btn-primary"><span>Client Ledger</span></a>
                                    <a href="@Url.Action("ReportClientReceive", "Admin")" class="btn btn-primary"><span>Client Receive </span></a>
                                    <a href="@Url.Action("ReportDesignerLedger", "Admin")" class="btn btn-primary"><span>Desinger</span></a>
                                    <a href="@Url.Action("ReportQuotation", "Admin")" class="btn btn-primary"><span> Quotation  </span></a>
                                    @*<a href="@Url.Action("ReportMonthQuotation", "Admin")" class="btn btn-primary"><span> Month Quotation </span></a>*@
                                    @*<a href="@Url.Action("ReportBalanceAdjust", "Admin")" class="btn btn-primary"><span> Balance Adjust  </span></a>*@
                                    <a href="@Url.Action("ReportSiteVisit", "Admin")" class="btn btn-primary"><span> Site Visit   </span></a>
                                    <a href="@Url.Action("ReportProjectHistory", "Admin")" class="btn btn-primary"><span> Project History  </span></a>
                                </div>
                            </div>
                        </div>
                        <br />



                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Desinger Ledger </h4>

                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-3 col-md-6">
                                <div class="form-group mb-3">

                                    <label>From Date   </label>

                                    <div class="input-group">
                                        <input type="date" id="fromStart" class="form-control" ng-model="fromStart">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="form-group mb-3">

                                    <label>To Date   </label>

                                    <div class="input-group">
                                        <input type="date" id="toEnd" class="form-control" ng-model="toEnd">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="form-group mb-3">

                                    <label>Designer name </label>
                                    <input type="text" ng-model="dname" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xl-1 col-md-6">
                                <label> . </label>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" ng-click="ShowDesignerLedger()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" ng-hide="loading">
                        <button type="button" class="btn btn-dark waves-effect waves-light">
                            <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i> Loading
                        </button>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">


                                    <div class="table-responsive">
                                        <table class="table align-middle datatable dt-responsive table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                            <thead>
                                                <tr class="bg-transparent">

                                                    <th>#   </th>
                                                    <th>Designer Name </th>
                                                    <th>Designation</th>
                                                    <th> City	 </th>
                                                    <th> Balance </th>
                                                    <th> Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in designeramountlist ">
                                                    <td> {{$index+1}} </td>
                                                    <td> {{item.name}} </td>
                                                    <td> {{item.designation}} </td>
                                                    <td> {{item.city}} </td>
                                                    <td> {{item.balance}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary waves-effect waves-light w-sm" ng-click="ShowDesignerLedgerDetail(item.staffID, item.name, item.city)" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center3">
                                                            <i class="mdi mdi-info d-block font-size-16"></i> Show
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="text-center ">
                                        <span class="text-danger text-center font-size:16  " style="">{{recordmsg}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
                <div class="modal fade bs-example-modal-center3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myExtraLargeModalLabel">Desinger Ledger</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="table-responsive">
                                            <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                                <thead>
                                                    <tr class="bg-transparent">

                                                        <th>#   </th>
                                                        <th>Project ID </th>
                                                        <th>Date</th>
                                                        <th> Project name	 </th>
                                                        <th> Projec type </th>
                                                        <th> Package</th>
                                                        <th> Amount</th>
                                                        <th> Paid Amount</th>
                                                        <th>Balance</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="item in designerLedgerDeatil ">
                                                        <td> {{$index+1}} </td>
                                                        <td> {{item.projectID}} </td>
                                                        <td> {{item.status}} </td>
                                                        <td> {{item.projectName}} </td>
                                                        <td> {{item.projectType}}</td>
                                                        <td> {{item.package}} </td>
                                                        <td> {{item.amount}} </td>
                                                        <td> {{item.paidAmount}} </td>
                                                        <td> {{item.balance}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Remaining balance</td>
                                                        <td>  {{designerbalance}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center ">
                                    <span class="text-danger text-center font-size:16  " style="">{{ledgermsg}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
}
</html>

