
@model  List<MvcSDesign.Models.TaskListModel>
@{
    ViewBag.Title = "Operation";
    Layout = "~/Views/Shared/_User.cshtml";
 

}


<html lang="en">
<head>
    <title>Operation - Arch Manager</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/angularjs/operation.js"></script>


    <script type="text/javascript">


        function Upload(projectID, pmid, taskId) {
            document.getElementById("projectID").value = projectID;
            document.getElementById("pmid").value = pmid;
            document.getElementById("taskId").value = taskId;

        }
        function validation() {

            var filename = $("#fileUpload").val();
            var category = $("#pcategory").val();

            document.getElementById("lblError").innerText = "";
            if (filename.length == 0) {
                document.getElementById("lblError").innerText = "Please select file for upload";
                return false;
            }

            var extension = filename.replace(/^.*\./, '').toLowerCase();
            if ((category == "Draft View") || (category == "Revised Draft") || (category == "Final View") || (category == "Draft View (Night)") || (category == "Revised Draft View (Night)")) {
                if ((extension != "jpg") && (extension != "jpeg") && (extension != "png")) {
                    document.getElementById("lblError").innerText = "Please select only jpg file";
                    return false;
                }
            }

            return true;
        }
    </script>

</head>

@using (@Html.BeginForm("operation", "Render", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmID" }))
{

    <body>
        <div ng-app="myApp">
            <div ng-controller="myCntr">


                <div class="container-fluid mt-3">
                    <div class="app-main__outer">
                        <div class="app-main__inner">
                            <div class="row">

                                <div class="col-sm-12 col-md-7 col-lg-8">
                                    <div class="mb-3 card">
                                        <div class="card-header-tab card-header">
                                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                                Weekly Performance
                                            </div>
                                        </div>
                                        <div class="pt-0 card-body">
                                            <canvas id="dvMonthTarget" width="400" height="400"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-5 col-lg-4" style="padding-bottom:16px;">
                                    <div class="mb-3 card" style="height:100%">
                                        <div class="card-header-tab card-header">
                                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                                Monthly Performance
                                            </div>
                                        </div>
                                        <div class="py-5 card-body text-center">
                                            <div class="average-per-day-circle">
                                                <div class="average-per-day-circle-inner rounded-circle shadow mx-auto">
                                                    <span class="d-block mt-5">Avg Per day</span>
                                                    <strong></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="main-card mb-3 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Project ID</th>
                                                            <th>PRF</th>
                                                            <th>Category</th>
                                                            <th>Subcategory</th>
                                                            <th>Tech remark</th>
                                                            <th>Upload</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td> @item.projectID </td>
                                                                <td style="text-align:center">
                                                                    @if (@item.prf == "Y")
                                                                    {
                                                                        <a href="@Url.Action("DownloadPRF", "Admin", new {@class="btn btn-sm btn-info", projectID = @item.projectID, location = @item.projectlocation })">
                                                                            <span style="font-size:12pt;" , class="btn btn-sm btn-info">   PRF</span>
                                                                        </a>

                                                                    }
                                                                </td>
                                                                <td>
                                                                    @item.category
                                                                </td>
                                                                <td>@item.subcategory</td>
                                                                <td> @item.techRemark </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UploadPopup" onclick="Upload('@item.projectID', '@item.pmID', '@item.taskID')">
                                                                        <i class="fa fa-upload"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Table end--->
                        </div>
                    </div>
                </div>

                <!-- Upload Modal start-->
                <div class="modal fade" id="UploadPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <h6>Upload File</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <input type="hidden" id="pmid" name="pmid">
                                    <input type="hidden" id="taskId" name="taskId">
                                    <div class="col-md-6">
                                        <div class="d-flex align-items-center">
                                            <label class="my-1 mr-2 form-lable" for="inlineFormCustomSelectPref">
                                                Project ID
                                            </label>
                                            <input type="text" id="projectID" name="projectID" class="form-control input-control light-bg" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="lable-text">File</label>
                                            <input type="file" id="fileUpload" name="fileUpload" multiple class="form-control input-control ml-3">
                                        </div>

                                        <div class="form-group d-flex align-items-center form-mr">
                                            <label lass="lable-text"> </label>
                                            <label class="font-weight-normal ml-3 " style="color:red" id="lblError">
                                            </label>
                                        </div>
                                        <button type="submit" id="btnSubmit" onclick="return validation()" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
</html>
