<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="utf-8" />
    <title>Arch Manager - @ViewBag.title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />



    <!-- preloader css -->
    <link rel="stylesheet" href="~/assets/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/angular.js"></script>
     
</head>


<body>

    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        @{

            //Anonymous
            string user = "", username = "";
            try
            {
                  user = Session["user"].ToString();
                username = Session["username"].ToString();
            }
            catch (Exception ex) { }

        }

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <div class="navbar-brand-box">
                        <a href="/Admin/Dashboard" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="~/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets/images/logo-sm.png" alt="" height="24"> <span class="logo-txt">SDesign</span>
                            </span>
                        </a>

                        <a href="/Admin/Dashboard" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets/images/logo-sm.png" alt="" height="24"> <span class="logo-txt">Minia</span>
                            </span>
                        </a>
                    </div>
                    <nav class="navbar navbar-expand-sm  navbar-invers">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="" class="nav-link">

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/Dashboard" class="nav-link">
                                    <i data-feather="grid"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Client/Index" class="nav-link">
                                    <i data-feather="grid"></i>
                                    Registration
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Client/Quotation" class="nav-link">
                                    <i data-feather="grid"></i>
                                    Project
                                </a>
                            </li>
                            @*<li class="nav-item">
                                <a href="/Admin/GMailSetting" class="nav-link">
                                    <i data-feather="grid"></i>
                                    Setting
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a href="/Admin/ReportClientLedger" class="nav-link">
                                    <i data-feather="grid"></i>
                                    Report
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-flex">
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item right-bar-toggle me-2">
                            <i data-feather="settings" class="icon-lg"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="~/assets/images/users/avatar-1.jpg"
                                 alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium">@username</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="apps-contacts-profile.html"><i class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Login/LogOut"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
                        </div>
                    </div>

                </div>
            </div>



            <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
                <!-- Brand -->
                <!--<a class="navbar-brand" href="#">Navbar</a>-->

                <!-- Toggler/collapsibe Button -->
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>-->

                <!-- Navbar links -->
                <!--<div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>-->
              
          </header>
          <div>
            <div>
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>

                    @*<footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    Copyright ©️2022-2025
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end d-none d-sm-block">
                                        Estrella Soft Tech ®️. All Rights Reserved
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>*@
          </div>
        </div>
        <div class="rightbar-overlay"></div>
        <script src="~/Scripts/jquery-3.6.1.min.js"></script>
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
        <script src="~/assets/libs/jquery/jquery.min.js"></script>
        <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="~/assets/libs/node-waves/waves.min.js"></script>
        <script src="~/assets/libs/feather-icons/feather.min.js"></script>
        <!-- pace js -->
        <script src="~/assets/libs/pace-js/pace.min.js"></script>

        <script src="~/assets/js/app.js"></script>

        @RenderSection("scripts", required: false)

</body>
</html>

